footer {
    background-color:bisque; 
    color: black;
    margin-top: auto;
    padding: 20px 0;
  }

li.inline {
  display: inline-block;
  margin-right: 10px; 
}


.footer-color{
    background-color: black;
}