.nav-wg{
    /* background-color: mediumpurple; */
    background-color: rgb(255, 255, 255);
    /* background-color: white; */
    
}

.language-selector{
    top: 15px !important;
}

.icon-drop{
    /* max-height: 50px; */
    max-width: 50px;
}

.icon-nav-lan{
    width: 40px;
    display: block;
    margin: 0 auto;
}



.nav-wg .nav-wrapper .brand-logo .logo-container {
    display: flex;
    align-items: center;
}

.nav-wg .nav-wrapper .brand-logo .logo-text {
    margin-left: 10px; 
    
}

.nav-wg .nav-wrapper .brand-logo .img-logo {
    display: inline-block;
    height: 60px;
}


.center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none; /* Remova os marcadores de lista */
    padding: 0; /* Remova o padding padrão */
    margin: 0; /* Remova a margem padrão */
}