.nav-wg{
    /* background-color: mediumpurple; */
    background-color: rgb(255, 255, 255);
    /* background-color: white; */
    
}

.language-selector{
    top: 15px !important;
}

.icon-drop{
    /* max-height: 50px; */
    max-width: 50px;
}

.icon-nav-lan{
    max-height: 64px;
}



.nav-wg .nav-wrapper .brand-logo .logo-container {
    display: flex;
    align-items: center;
}

.nav-wg .nav-wrapper .brand-logo .logo-text {
    margin-left: 10px; 
    
}

.nav-wg .nav-wrapper .brand-logo .img-logo {
    display: inline-block;
    height: 60px;
}