.custom-shape-divider-top-1701366195 {
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    overflow: hidden;

}

.custom-shape-divider-top-1701366195 svg {
    position: relative;
    display: block;
    width: calc(149% + 1.3px);
    height: 161px;
}

.custom-shape-divider-top-1701366195 .shape-fill {
    fill: #FFFFFF;
}

/* .card-section{
    background-color: cadetblue;
} */

/* .logo-img {
    max-width: 100px;
} */

.img-logo {
    max-width: 150px;
}


h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.3em;
    margin-bottom: 0.75em;
}

p {
    margin-bottom: 1em;

}

h4 {
    font-size: 1.3em;
    margin-bottom: 0.75em;
}

ul {
    list-style-type: disc; 
}

li {
    margin-left: 20px;
}

.note {
    font-style: italic;
    color: #555;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 1 0 auto;
}