.login-position{
    display: inline-block; 
    padding: 32px 48px 0px 48px; 
}

.label-forgot{
    float: right;
}

.room-login{
    background-color: rgb(20, 9, 82);
    /* background-color: blueviolet; */
    background-size: cover;
}

.rounded-card-login{
  /* border: 1px solid #000; */
  border-radius: 15px;
}

.overlay{
    background-color: #0a4466 !important;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.centered-element {
    /* margin: 0; */
    /* position: absolute; */
    top: 10%;
    left: 0%;

    /* transform: translateY(50%);
    transform: translateX(50%); */
  }

  .back-color {
    /* background: linear-gradient(-45deg, rgb(108, 0, 112), #e73c7e, #23a6d5, #110072); */
    /* background: linear-gradient(-45deg,#e73c7e, rgb(108, 0, 112),   #110072); */
    background: linear-gradient(-45deg,#bdbabb, rgb(85, 85, 112),   #000000);
    background-size: 400% 400%;
    box-shadow: 5px 5px 5px 2px ;
    animation: gradient 15s ease infinite;
    
}


.home-button{
  background: linear-gradient(90deg, rgb(10, 0, 9), rgb(0, 81, 255));
    /* background: linear-gradient(90deg, rgb(5, 7, 136), rgb(255, 0, 234)); */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}




.input-field {
    position: relative;
    margin: 15px 0;
    /* color: #110072; */
  }
  
  .input-field input[type="text"],
  .input-field input[type="password"],
  .input-field input[type="email"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 25px; 
    background-color: #19346e; 
    color: #fff;
    box-sizing: border-box;
  }
  .input-register{
    width: 90% !important;
  }
  
  .input-field label {
    position: absolute;
    top: 0px;
    left: 0px; 
    padding-top: 15px;
    padding-left: 15px;
    color: #fff; 
    pointer-events: none;
    transition: 0.2s ease-out;
  }
  
  .input-field input:focus,
  .input-field input:valid,
  .input-field textarea:focus,
  .input-field textarea:valid {
    border-color: #2b2763; 
    box-shadow: 0 0 5px rgba(41, 129, 187, 0.7);
  }
  
  .input-field input:focus + label,
  .input-field input:valid + label,
  .input-field textarea:focus + label,
  .input-field textarea:valid + label {
    transform: translateY(-3px);
    font-size: 14px; 
  }



  /* .login-button{
    background: linear-gradient(90deg, rgb(136, 5, 125), rgb(255, 0, 106));
} */
  .login-button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    background-color:#19346e;
    /* background: linear-gradient(90deg, rgb(10, 0, 9), rgb(0, 81, 255)); */
  }



  .card-login{
    background-color: white;
  }


  /* .card-login{
    background-color: white;
    position:fixed;
    width:40%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
} */