.map-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.btn-upload {
  position: absolute;
  top: 20px;
  right: 90px;
  z-index: 1000;
  border: none;
  background-color: olive;
}

.btn-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }

/* .top-bar {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
} */


/* input[type=text] {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  border: none;
  background-color: olive;
} */

.raster-upload-container {
  text-align: center;
  padding: 0px;
}

.custom-raster-input {
  position: absolute;
  top: 20px;
  right: 90px;
  z-index: 1000;
}


.file-upload-container {
  text-align: center;
  padding: 0px;
}

.custom-file-input {
  position: absolute;
  top: 20px;
  right: 90px;
  z-index: 1000;
}

.delete-button {
  position: absolute;
  top: 90px;
  right: 20px;
  z-index: 1000;
}

.delete-button-2 {
  position: absolute;
  top: 90px;
  right: 90px;
  z-index: 1000;
}

.test-bt {
  position: absolute;
  top: 5px;
  right: 150px;
  z-index: 1000;
}

.custom-file-input button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.leaflet-control-geocoder {
  position: absolute;
  background-color: #01579b !important;
  color: yellow !important;
  top: 160px;
  right: 20px;
  z-index: 1000;
  border-radius: 50%;
  cursor: pointer;
}

.leaflet-control-geocoder-icon {
  background-image: none !important; /* Remove o ícone padrão */
  background-color: #01579b !important; /* Cor de fundo */
  color: white !important; /* Cor da fonte */
  border-radius: 50% !important; /* Torna o botão circular */
  text-indent: -9999px !important; /* Esconde qualquer texto padrão */
  position: relative !important; /* Necessário para o pseudo-elemento */

  /* Ajusta o tamanho do botão para ser um círculo */
  width: 30px !important; /* Largura do botão */
  height: 30px !important; /* Altura do botão */
  line-height: 30px !important; /* Centraliza verticalmente o ícone */
}

.leaflet-control-geocoder-icon::before {
  content: 'search' !important; /* Texto do ícone do Materialize */
  font-family: 'Material Icons' !important; /* Fonte do Materialize */
  text-indent: 0 !important; /* Mostra o texto do ícone */
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important; /* Centraliza o ícone */
  font-size: 20px !important; /* Tamanho do ícone */
}

.leaflet-control-geocoder-form input {
  color: white !important; /* Muda a cor do texto para branco */
}

.leaflet-control-geocoder-address-context {
  color: white !important; /* Muda a cor do texto para branco */
}


.custom-file-input span {
  margin-left: 10px;
}

.style-form-container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  width: 200px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.style-form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: black;
}

.style-form-container input[type="range"] {
  width: 100%;
}

.style-form-container input[type="color"] {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.drawer-side-bar {
  width: 250px;
}

.leaflet-control-browser-print {
  /* position: absolute; */
  position: relative;
  top: 160px;
  right: 20px;
  /* display: none; */
}

.leaflet-control-browser-print a {
  background: none !important;
  background-color: #01579b !important;
  color: white !important;
  border-radius: 50%;
  cursor: pointer;
}

.leaflet-control-browser-print a::before {
  content: 'print'; /* Nome do ícone de impressão do Material Icons */
  font-family: 'Material Icons'; /* Define a fonte para Material Icons */
  display: block; /* Faz com que o ícone ocupe toda a largura do botão */
  font-size: 16px; /* Ajusta o tamanho do ícone */
  line-height: inherit; /* Alinha verticalmente o ícone */
}

.leaflet-control-measure {
  position: absolute;
  top: 160px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
}

.leaflet-control-measure a {
  /* Estilos gerais do botão */
  background: none !important;
  background-color: #01579b !important;
  position: relative; /* Necessário para posicionar corretamente o pseudo-elemento */
  /* outros estilos necessários para o botão */
}

.leaflet-control-measure a::before {
  content: 'straighten'; /* Nome do ícone do Material Icons */
  font-family: 'Material Icons';
  font-size: 16px; /* Ajuste o tamanho conforme necessário */
  position: absolute; /* Posiciona o ícone corretamente dentro do botão */
  color: white;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%); /* Centraliza o ícone */
  /* outros estilos necessários para o ícone */
}

.leaflet-control-measure .leaflet-control-measure-interaction {
  padding: 10px 12px;
  border-radius: 3px;
  background-color: #01579b;
  color: white;
  font-size: 12px;

}


/* .leaflet.browser.print {
  position: absolute;
  height: calc(100vh - 40px);
  top: 100px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
} */

.dropdown-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.dropdown-button .material-icons {
  font-size: 15px; 
}

.zoom-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.zoom-button .material-icons {
  font-size: 15px; 
}

.sidebar-title {
  font-size: 20px;
  padding: 15px;
  margin-top: 10;
  font-weight: bold;
}
