/* .card-image {
    width: 250px;
    height: auto;
} */

/* .card-flat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: none !important;
    border: none !important;
    text-align: left;
    margin-right: 200px;
    background-color: transparent !important;
} */

.center-title {
    text-align: center;
    margin-bottom: 100px;
}

.card-flat {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    box-shadow: none !important;
    text-align: left;
    background-color: transparent !important;
}

/* .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.about-image {
    width: 100%; /* Full width of the parent container */
    max-width: 350px; /* Maximum width of the image */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the image */
    
}

/* Ensures the row acts as a flex container */
.row {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

/* Adjustments for the image card to align it properly */
.card-image {
    display: flex;
    align-items: center; /* Center the image inside its card */
    justify-content: center;
}
