.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  flex-direction: column;
}

.login-title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.login-card {
  display: flex;
  width: 80%;
  height: 70%;
  max-width: 1400px;
  max-height: 1400px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.login-image {
  flex: 2;
  background: url('../../public/map_login2.svg') no-repeat center center;
  background-size: cover;
  transition: background 0.3s ease-in-out;
}

.login-form-container {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form-container h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-field {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 10px;
}

.input-field i {
  margin-right: 10px;
  color: #888;
}

.input-field input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  padding-left: 40px;
  border-radius: 20px;
}

.login-button {
  background-color: red;
  color: white;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
}

.login-button:hover~.login-image {
  background: url('../../public/map_login.svg') no-repeat center center;
  background-size: cover;
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login-links a {
  color: gray;
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
}