.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  flex-direction: column;
}

.login-title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.login-card {
  display: flex;
  width: 80%;
  height: 70%;
  max-width: 1400px;
  max-height: 1400px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.login-image {
  flex: 2;
  background: url('../../public/map_login2.svg') no-repeat center center;
  background-size: cover;
  transition: background 0.3s ease-in-out;
}

.login-form-container {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form-container h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-field {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 10px;
}

.input-field i {
  margin-right: 10px;
  color: #888;
}

.input-field input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  padding-left: 40px;
  border-radius: 20px;
}

.login-button {
  background-color: red;
  color: white;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
}

.login-button:hover~.login-image {
  background: url('../../public/map_login.svg') no-repeat center center;
  background-size: cover;
}

.login-google-button{
  background-color: rgb(17, 0, 255);
  color: white;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login-links a {
  color: gray;
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
}



.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}



/* 
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  flex-direction: column;
}

.login-title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.login-card {
  display: flex;
  width: 80%;
  height: 70%;
  max-width: 1400px;
  max-height: 1400px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.login-image {
  flex: 2;
  background: url('../../public/map_login2.svg') no-repeat center center;
  background-size: cover;
  transition: background 0.3s ease-in-out;
}

.login-form-container {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-button {
  margin-top: 20px;
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login-links a {
  color: gray;
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
} */
