.map-container {
  position: relative;
  height: 100vh;
  width: 100%;
  transition: width 0.5s ease-out; 
}

.btn-menu {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1000;
  transition: transform 0.5s ease-out;
  /* border-radius: 50%; */
}

.btn-menu.active {
  transform: translateX(300px);
}

.btn-color {
  background-color: #01579b;
}

.raster-upload-container {
  text-align: center;
  padding: 0px;
}


.file-upload-container {
  text-align: center;
  padding: 0px;
}

.custom-file-input {
  position: absolute;
  top: 20px;
  right: 70px;
  z-index: 1000;
}

.home-button-map {
  position: absolute;
  top: 70px;
  right: 20px;
  z-index: 1000;
}

.custom-file-input button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.custom-file-input span {
  margin-left: 10px;
}

.drawer-side-bar {
  width: 250px;
}

.dropdown-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.dropdown-button .material-icons {
  font-size: 15px;
}

.sidebar-title {
  font-size: 20px;
  padding: 15px;
  margin-top: 10;
  font-weight: bold;
}

.clip-button {
  /* top: 120px; */
  /* bottom: 800px; */
  right: 51%;
}


.edit-geo-button {
  position: fixed;
  bottom: 20px;
  right: 55%;
  z-index: 1000;
  background-color: #01579b
}

.drawer-map-style {
  width: 250px;
}

.map-styles-container {
  padding: 16px;
}

.map-styles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.map-style-item {
  flex: 0 1 auto;
  margin: 5px;
  text-align: center;
}

.map-style-item p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.map-style-item img {
  width: 100px;
  height: auto;
  border: 2px solid #000000;
  border-radius: 5px;
}

.dialog-titlebar {
  background-color: #01579b;
  height: 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;

}

.dialog-titlebar h3 {
  font-size: 1.2rem;
  margin: 0;
}

.close-button {
  cursor: pointer;
  font-size: 1.5em;
  color: white;
}


.zoom-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.zoom-button .material-icons {
  font-size: 15px;
}

.checkbox-button {
  transform: scale(0.8) translateY(-2px);
  background-color: transparent;
  color: black;
  border: none;
  padding: 5px;
  width: 25px;
  height: 20px;
  font-size: 15px;
  margin: 0;
}


.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* Ensure it's on top of other elements */
}

.loading-icon {
  width: 50px;
  /* Adjust the size as needed */
  height: 50px;
  /* Adjust the size as needed */
  border: 4px solid #ccc;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  /* Adjust the color as needed */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.custom-draw-button {
  position: fixed;
  bottom: 20px;
  /* ajuste a altura como necessário */
  left: calc(50% - 60px);
  /* ajuste a posição do botão edit para a esquerda */
  transform: translateX(-50%);
  z-index: 1000;
}


.map-selector {
  position: fixed;
  bottom: 20px;
  left: calc(50% + 60px);
  transform: translateX(-50%);
  z-index: 1000;
}

.attach-file-button {
  position: fixed;
  bottom: 20px;
  left: calc(50% + 20px);
  transform: translateX(-50%);
  z-index: 1000;
}

.fixed-action-btn {
  position: absolute;
  /* Isso fará com que ele seja posicionado relativo ao pai mais próximo com posição não estática */
  right: 0;
  /* Isso posiciona o .fixed-action-btn à direita dentro do .attach-file-button */
  bottom: 0;
  /* Isso posiciona o .fixed-action-btn na parte inferior do .attach-file-button */
  z-index: 1001;
  /* Opcionalmente, um z-index mais alto se você precisar que este botão sobreponha os outros */
}

.fixed-action-btn ul {
  position: absolute;
  bottom: 40px; /* Adjust this value as needed */
  right: 0; /* Aligns the buttons to the right */
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidenav-toolbar.active {
  transform: translateX(0);
}

.icon-data{
  max-width: 15px;
  max-height: 15px;
  /* padding-left: 2px;
  padding-right: 2px; */
}

.style-raster-class{
  display:flex;
  flex-direction: column;
  width:100%;
  padding-left: 40px; 
}

.style-raster-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.style-span{
  text-align: left;
  flex-grow: 1;
}


.input-color-style{
  width: 30px; 
  border: 1px solid #ddd;
  border-radius: 4px;
}


.side-nav-item-dropdown-style{
  background-color: rgb(167, 179, 167);
  /* width: 220px; */
}


.alnright{
  text-align: right;
}

.sidenav-range-style{
  width: 40px;
  max-width: 120px;
}


.list-dataset{
  line-height: 0px !important;
}

.list-div-dataset{
  display: flex;
  align-items: center; 
}


.checkbox-label {
  display: flex;
  align-items: center; 
}

.flex-container {
  display: flex;
  align-items: center;
}

.text-container {
  margin-left: 8px; 
}

.submit-display-button {
  width: 100%;
  background-color: #04AA6D;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}

.custom-zoom-control .leaflet-control-zoom {
  position: absolute;
  bottom: 20px; 
  left: 60px; 
  transition: right 0.3s ease-in-out;
  z-index: 1000; 
}