.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.register-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.register-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.register-form-container {
    display: flex;
    flex-direction: column;
}

.input-field {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.center {
    text-align: center;
}

.rounded-button {
    border-radius: 20px;
}

/* TODO ADDING STYLE GLOBAL */
/* Chrome, Safari */
::placeholder {
    color: #333333;
    opacity: 0.7;
}

/* Firefox */
::-moz-placeholder {
    color: #333333;
    opacity: 0.7;
}

/* Internet Explorer */
:-ms-input-placeholder {
    color: #333333;
}

/* Edge */
::-ms-input-placeholder {
    color: #333333;
}