.map-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.btn-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  /* border-radius: 50%; */
}

.btn-color {
  background-color: #01579b;
}

.raster-upload-container {
  text-align: center;
  padding: 0px;
}


.file-upload-container {
  text-align: center;
  padding: 0px;
}

.custom-file-input {
  position: absolute;
  top: 20px;
  right: 70px;
  z-index: 1000;
}

.home-button-map {
  position: absolute;
  top: 70px;
  right: 20px;
  z-index: 1000;
}

.custom-file-input button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* .leaflet-control-geocoder {
  position: absolute;
  background-color: #01579b !important;
  color: yellow !important;
  top: 510px;
  z-index: 1000;
  cursor: pointer;
} */

.leaflet-control-geocoder-icon {
  background-image: none !important;
  background-color: #01579b !important;
  color: white !important;
  text-indent: -9999px !important;
  position: relative !important;
  line-height: 30px !important;
}

.leaflet-control-geocoder-icon::before {
  content: 'search' !important;
  /* Texto do ícone do Materialize */
  font-family: 'Material Icons' !important;
  /* Fonte do Materialize */
  text-indent: 0 !important;
  /* Mostra o texto do ícone */
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  /* Centraliza o ícone */
  font-size: 20px !important;
  /* Tamanho do ícone */
}

.leaflet-control-geocoder-form input {
  border-radius: 0% !important;
  color: white !important;
  /* Muda a cor do texto para branco */
}

.leaflet-control-geocoder-address-context {
  border-radius: 0% !important;
  color: white !important;
  /* Muda a cor do texto para branco */
}


.custom-file-input span {
  margin-left: 10px;
}

.drawer-side-bar {
  width: 250px;
}

/* .leaflet-control-browser-print {
  position: relative;
  top: 510px;
} */

.leaflet-control-browser-print a {
  background: none !important;
  background-color: #01579b !important;
  color: white !important;
  cursor: pointer;

}

.leaflet-control-browser-print a::before {
  content: 'print';
  font-family: 'Material Icons';
  display: block;
  font-size: 16px;
  line-height: inherit;
}

/* .leaflet-control-measure {
  position: absolute;
  top: 510px;
  z-index: 1000;
  cursor: pointer;
} */

.leaflet-control-measure a {
  background: none !important;
  background-color: #01579b !important;
  position: relative;
}

.leaflet-control-measure a::before {
  content: 'straighten';
  font-family: 'Material Icons';
  font-size: 16px;
  position: absolute;
  color: white;
  top: 50%;
  left: -5%;
  transform: translate(-50%, -50%);
}

.leaflet-control-measure .leaflet-control-measure-interaction {
  padding: 10px 12px;
  border-radius: 3px;
  background-color: #01579b;
  color: white;
  font-size: 12px;

}

.dropdown-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.dropdown-button .material-icons {
  font-size: 15px;
}

.sidebar-title {
  font-size: 20px;
  padding: 15px;
  margin-top: 10;
  font-weight: bold;
}

.fixed-action-btn {
  position: fixed;
  bottom: 20px;
  right: 51%;
  z-index: 1000;
}

.clip-button {
  /* top: 120px; */
  /* bottom: 800px; */
  right: 51%;
}

.upload-geo-button {
  position: fixed;
  bottom: 20px;
  right: 51%;
  z-index: 1000;
  background-color: #01579b
}

.custom-draw-button {
  position: fixed;
  bottom: 20px;
  /* Ajuste a distância do fundo conforme necessário */
  right: 55%;
  /* Posiciona o botão à esquerda */
  z-index: 1000;
  /* Garante que esteja visível acima do mapa */
}

.edit-geo-button {
  position: fixed;
  bottom: 20px;
  right: 55%;
  z-index: 1000;
  background-color: #01579b
}

.upload-geo-button-raster {
  position: fixed;
  top: 120px;
  right: 20px;
  /* bottom:20px; */
  /* right: 55%; */
  /* right: 450px; */
  /* left: 50px; */
  z-index: 1000;
  background-color: #019b34
}


.map-style-selector {
  position: fixed;
  left: 50%;
  bottom: 20px;
  z-index: 1000;
}

.map-style-selector a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 41px;
  height: 41px;
}

.drawer-map-style {
  width: 250px;
}

.map-styles-container {
  padding: 16px;
}

.map-styles {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.map-style-item {
  flex: 0 1 auto;
  margin: 5px;
  text-align: center;
}

.map-style-item p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.map-style-item img {
  width: 100px;
  height: auto;
  border: 2px solid #000000;
  border-radius: 5px;
}

.dialog-titlebar {
  background-color: #01579b;
  height: 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;

}

.dialog-titlebar h3 {
  font-size: 1.2rem;
  margin: 0;
}

.close-button {
  cursor: pointer;
  font-size: 1.5em;
  color: white;
}

.leaflet-control-zoom-out {
  background-color: #28a745;
  color: white;
  border: none;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: #01579b !important;
  color: white !important;
}

.leaflet-control-fullscreen {
  background-color: #01579b !important;
  color: white !important;
}

.fullscreen-icon {
  background-color: #01579b !important;
  background-image: none !important;
}

.fullscreen-icon::before {
  content: 'fullscreen';
  font-family: 'Material Icons';
  font-size: 30px;
  display: block;
  color: white;
  position: absolute;
  text-align: center;
}

.zoom-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.zoom-button .material-icons {
  font-size: 15px;
}

.checkbox-button {
  transform: scale(0.8) translateY(-2px);
  background-color: transparent;
  color: black;
  border: none;
  padding: 5px;
  width: 25px;
  height: 20px;
  font-size: 15px;
  margin: 0;
}


.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* Ensure it's on top of other elements */
}

.loading-icon {
  width: 50px;
  /* Adjust the size as needed */
  height: 50px;
  /* Adjust the size as needed */
  border: 4px solid #ccc;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  /* Adjust the color as needed */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}